body{
    color:blue;
    background-color:yellowgreen;
}
/*p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}*/
img{
    height: auto;
    width: 100%;
}
@media(max-width:600px){
    img{
        height:auto;
        width:100%;
    }
}
video{
    width:100%;
}
ol{
    list-style-type:lower-roman;
}
ul{
    list-style-type:circle;
}
table,th,td{
    border:1px solid  white;
    border-collapse:collapse;
}
h1{
    padding:50px;
    border:20px solid green;
    margin:50px;
}
button:hover{
    background-color:green;
    border-radius:5px;
}
button{
    padding:10px;
    margin:20px;
}
nav{
    display: flex;
    flex-direction:column;
    /* gap:100px; */
}
@media(min-width:1024px){
    nav{
        display:flex;
        flex-direction:row;
        gap:100px;
    }
}
#p1{
    font-style:normal;
    font-weight:bolder;
}
#p2{
    font-style:italic;
}
.pclass{
    font-size:x-large;
}
.grid{
    display: grid;
}
@media(min-width:1024px){
    .grid{
        display:grid;
    }
    #one{
        grid-row: 1/2;
    }
    #two{
        grid-row: 1/2;
    }
    #three{
        grid-row: 2/3;
    }
    #four{
        grid-row: 2/3;
    }
}
.festivals{
    display: grid;
    grid-template-columns: 50% 50%;
}
